.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin-top: 25vh;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 20vmin;
}

h2 {
  font-weight: 250;
  font-size: 3vmin;
  margin-top: -2vmin;
  padding-top: 0;
  padding-bottom: 2vmin;
}
